{% extends "layout/base.njk" %}

{% block content %}
<!-- Wrapper -->
	<div id="wrapper">

{% include "layout/parts/header.njk" %}

{% include "layout/parts/nav.njk" %}

		<!-- Main -->
			<div id="main">

				<!-- Post -->
					<section class="post">
						<header class="major">
							<span class="date">{{ post.date }}</span>
							<h1>{{ post.title }}</h1>
							<p>{{ post.description }}</p>
						</header>
						<div class="image main"><img src="{{ post.image.src }}" alt="{{ post.image.alt }}" /></div>
						{{ post.content | safe}}
					</section>

			</div>

		{% include "layout/parts/footer.njk" %}

		{% include "layout/parts/copyright.njk" %}

	</div> <!-- #wrapper -->

{% endblock %}