{% extends "layout/base.njk" %}

{% block content %}
<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
			<div id="intro">
				<h1>{{ introTitle }}</h1>
				<p>{{ introDescription | safe }}</p>
				<ul class="actions">
					<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div>

		{% include "layout/parts/header.njk" %}

		{% include "layout/parts/nav.njk" %}

		<!-- Main -->
			<div id="main">

				<!-- Featured Post -->
					<article class="post featured">
						<header class="major">
							<span class="date">April 25, 2017</span>
							<h2><a href="#">And this is a<br />
							massive headline</a></h2>
							<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
							facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
							amet nullam sed etiam veroeros.</p>
						</header>
						<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
						<ul class="actions special">
							<li><a href="#" class="button large">Full Story</a></li>
						</ul>
					</article>

				{% include "layout/parts/postsList.njk" %}

				<!-- Footer -->
					<footer>
						<div class="pagination">
							<!--<a href="#" class="previous">Prev</a>-->
							<a href="#" class="page active">1</a>
							<a href="#" class="page">2</a>
							<a href="#" class="page">3</a>
							<span class="extra">&hellip;</span>
							<a href="#" class="page">8</a>
							<a href="#" class="page">9</a>
							<a href="#" class="page">10</a>
							<a href="#" class="next">Next</a>
						</div>
					</footer>

			</div> <!-- #main -->
	</div> <!-- #wrapper -->

{% include "layout/parts/footer.njk" %}

{% include "layout/parts/copyright.njk" %}

{% endblock %}